@model Employee
<div class="card">
    <div class="card-header">
        Edit Employee
    </div>
    <div class="card-body">
            @if (ViewBag.ErrorMessage != null)
            {

                <p class="text-danger">@ViewBag.ErrorMessage</p>

            } 
            else
            {
        <form asp-action="UpdateEmployee" asp-controller="Employee">
   
               <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span class="text-danger">@ViewBag.NameError</span>
                </div>

                <div class="mb-3">
                    <label for="Age" class="form-label">Age</label>
                    <input type="number" asp-for="Age" class="form-control" />
                    <span class="text-danger">@ViewBag.AgeError</span>
                </div>

                <div class="mb-3">
                    <label for="Position" class="form-label">Position</label>
                    <input type="text" asp-for="Position" class="form-control" />
                    <span class="text-danger">@ViewBag.PositionError</span>
                </div>

                <div class="mb-3">
                    <label for="Salary" class="form-label">Salary</label>
                    <input type="number" asp-for="Salary" class="form-control" />
                    <span class="text-danger">@ViewBag.SalaryError</span>
                </div>

                <div class="mb-3">
                    <label for="DepartmentId" class="form-label">Department</label>
                    <select asp-for="DepartmentId"
                            class="form-select"
                            asp-items="@(new SelectList(ViewBag.Departments, "Id", "Name"))">
                        <option value="">-- Select Department --</option>
                    </select>
                    <span class="text-danger">@ViewBag.DepartmentError</span>
                </div>

      

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        }
    </div>
</div>